body {
    background-color: #00293D;
    color: #E8E3D9;
    overflow: hidden;
    
    font-family: 'Quicksand', sans-serif;
}
  @media (max-width: 820px) {
      body {
        overflow: auto;
      }
  }